@import './utills/variables';
@import './utills/visually-hidden';
@import './utills/placeholders';
@import './utills/mixins';

@import './base/common';
@import './base/section';
@import './base/container';

@import './components/mobile-menu';
@import './components/subtitle';
@import './components/card-title';
@import './components/modal-window';
@import './components/modal-form';

@import './layout/header';
@import './layout/hero';
@import './layout/advantages';
@import './layout/occupation';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/portfolio/portfolio-filter';
@import './layout/portfolio/portfolio-list';
