@media screen and(max-width:1199px) {
  .title-social-list {
    text-align: center;
  }
  .footer-form {
    flex-direction: column;
  }
  .footer-container-adress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-item {
    display: flex;
    justify-content: center;
  }
  .footer-container_wrapper {
    margin-bottom: 60px;
  }
  .footer-subscr-input {
    margin-bottom: 20px;
    width: 450px;
  }
  .footer-container-subscr {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: var(--secondary-font);
  @include font(700, 26px, 1.2);
  color: var(--main-text-color-dark-theme);
}
.contacts {
  font-style: normal;
  margin-top: 20px;
}
.contact-footer {
  @include font($fs: 14px, $lh: 1.7);
  color: var(--main-text-color-dark-theme);
}
.contact-item:not(:last-child) {
  margin-bottom: 9px;
}
.contact-address {
  color: inherit;
}
.contact-link {
  color: inherit;
  opacity: 60%;
}

.title-social-list {
  margin-bottom: 20px;
  @include font(700, 14px, 1.14);
  text-transform: uppercase;
  color: var(--main-text-color-dark-theme);
}
.social-list-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list-icon-footer {
  fill: #fff;
}

.footer-form {
  display: flex;
  align-items: center;
}
.footer-subscr-input {
  display: block;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  @include font($fs: 16px, $lh: 1.25);
  color: rgba(255, 255, 255, 0.6);

  &:focus {
    outline: none;
  }
}
.footer-subscr-button {
  width: 200px;
  height: 50px;
}
.footer-subscr-button {
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  display: block;
  @include font(700, 16px, 1.88, 0.06em);
  color: var(--main-text-color-dark-theme);
  background-color: var(--accent-color);
  transition: box-shadow var(--transition-duration-and-func);
}
.footer-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-subscr-name,
.footer-subscr-icon {
  display: block;
}
.footer-social-list {
  display: block;
}

@media screen and(min-width:768px) {
  .footer-container_wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and(min-width:1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer-container-adress {
    flex-grow: 1;
    margin-right: 70px;
  }

  .footer-container-social-links {
    margin-right: 93px;
  }
  .footer-subscr-input {
    margin-right: 12px;
    width: 360px;
  }
}

@media screen and(max-width:479px) {
  .footer-subscr-input {
    width: 100%;
  }
}
