.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-title {
  margin-bottom: 10px;
  @include font(700, 20px, 1.15);
  text-align: center;
  color: #212121;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration-and-func);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
.modal-form-label-name {
  display: block;
  @include font($ls: 0.01em);
  color: #757575;
  margin-bottom: 4px;
}
.modal-form-label:not(:nth-child(4)) {
  margin-bottom: 10px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  transition: fill var(--transition-duration-and-func);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}
.modal-form-input-container {
  position: relative;
  display: block;
}

.modal-form-comments {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration-and-func);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-style: normal;
    @include font($ls: 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-descr {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  @include font(400, 12px, 1.17);
  color: #757575;

  &::before {
    @include pseudo($position: relative);
    margin-right: 9px;
    width: 16px;
    height: 16px;
    border: solid 2px;
    border-radius: 2px;
    border-color: #212121;
    cursor: pointer;

    .modal-form-check:checked + & {
      background-color: var(--accent-color);
      border-color: var(--accent-color);
      background-image: url(../images/modal/check.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
    }
    .modal-form-check:focus + & {
      border-color: var(--accent-color);
    }
  }
}
.modal-form-submit {
  align-self: center;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 22px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  display: block;
  @include font(700, 16px, 1.88, 0.06em);
  color: var(--main-text-color-dark-theme);
  background-color: var(--accent-color);
  transition: box-shadow var(--transition-duration-and-func);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.modal-form-contract-descr {
  @include font(400, 12px, 1.17);
  color: var(--accent-color);
}
@media screen and(min-width:1200px) {
  .modal-form-descr {
    @include font(400, 14px, 1.71);
  }
  .modal-form-contract-descr {
    @include font(400, 14px, 1.71);
  }
}
// .modal-form-descr {
//   display: flex;
//   align-items: center;
//   margin-top: 20px;
//   margin-bottom: 30px;
//   @include font(400, 14px, 1.71);
//   color: #757575;
// }

// .modal-form-contract-descr {
//   @include font(400, 14px, 1.71);
//   color: var(--accent-color);
// }
