@media screen and(max-width:767px) {
  .filter {
    flex-wrap: wrap;
  }
}
.filter {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}

// .filter {
//   display: flex;
//   justify-content: center;
//   gap: 8px;
//   margin-bottom: 50px;
// }

.filter__button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border: none;
  @include font(500, 16px, 1.62);
  background-color: #f5f4fa;
  color: var(--main-text-color-white-theme);
  transition: background-color var(--transition-duration-and-func),
    color var(--transition-duration-and-func), box-shadow var(--transition-duration-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-text-color-dark-theme);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media screen and(min-width:768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and(min-width:1200px) {
  .filter {
    justify-content: center;
    margin-bottom: 50px;
  }
}
