@media screen and(max-width: 767px) {
  .portfolio-list__image {
    width: 100%;
  }
}
.portfolio-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list__wrapper {
  flex-grow: 1;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: #ffffff;
}

.portfolio-list__occupation-title {
  @include font($fs: 16px, $lh: 1.88);
  color: var(--secondary-text-color-white-theme);
}

.portfolio-list__item {
  display: block;
}
.portfolio-list__link {
  background-color: #ffffff;
  transition: box-shadow var(--transition-duration-and-func);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-list__container {
  position: relative;
  overflow: hidden;
}
.portfolio-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translate(0, 101%);
  transition: transform var(--transition-duration-and-func);
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  @include font($fs: 18px, $lh: 1.56);
  color: var(--main-text-color-dark-theme);

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translate(0, 0);
  }
}

.portfolio-list__title {
  margin-bottom: 4px;
  @include font(700, 18px, 2, 0.06em);
  color: var(--main-text-color-white-theme);
}
@media screen and(min-width:768px) and(max-width:1199px) {
  .portfolio-list__link {
    max-width: 354px;
  }
  .portfolio-list__wrapper_title {
    padding-bottom: 20px;
  }
}
